{% extends "layout.html.twig" %}

{% block title %}security{% endblock %}


{% block content %}

   login

    <form action="" method="post">

        <label for="_username" >Username</label><br />
        <input type="text" name="_username" />
        <br />
        <br />

        <label for="_password" >Password</label><br />
        <input type="text" name="_password" />
<br />
<br />
<input type="submit" name="connection" />

    </form>


{% endblock %}

