{% extends "layout.html.twig" %}

{% block title %}security{% endblock %}


{% block content %}

    {%  if current_user == "anonymous" %}

        <h1>login</h1>
        <form action="" method="post">

            <label for="_username" >Username</label><br />
            <input type="text" name="_username" />
            <br />
            <br />

            <label for="_password" >Password</label><br />
            <input type="text" name="_password" />
            <br />
            <br />


            <input type="submit" name="connection" />

        </form>

        <p>
            {{ error }}
        </p>
    {% else %}
        logged as <b>{{ current_user.username }}</b>
    {% endif %}

{% endblock %}

