{% extends "layout.html.twig" %}

{% block title %}Index{% endblock %}


{% block content %}
    <h1>{{ name }}</h1>
    <p>
    <a href="{{ link }}">lien généré ver cette route</a>
    </p>

    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>


{% endblock %}

