{% extends "layout.html.twig" %}

{% block title %}test perf{% endblock %}


{% block content %}

    <h1>Entity demo</h1>
    <ul>
        {% for demo in demos %}
            <li>{{ demo }}</li>
        {% endfor %}
    </ul>

    <a href="{{ helper.url('secured_route_1') }}"> lien secured route 1 </a>
    <br /><br />
    <a href="{{ helper.url('route_1', {'name': 'testparam'}) }}"> lien demo route 1 </a>

{% endblock %}

