{% extends "layout.html.twig" %}

{% block title %}test perf{% endblock %}


{% block content %}


    <h1>Entity demo</h1>
    <ul>
        {% for demo in demos %}
            <li>{{ demo }}</li>
        {% endfor %}
    </ul>


    {{ helper.generateUrl('secured_route_1') }}

{% endblock %}

