<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Hello {{ name }}</title>

    <link href="{{ web_path }}/css/style.css" rel="stylesheet" />
</head>
<body>
    <h1>{{ name }}</h1>

<p>
<a href="{{ link }}">lien généré ver cette route</a>
</p>

</body>
</html>