{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="{{ web_path }}/css/style.css" rel="stylesheet" />
{% endblock %}
{% block content %}
    <h1>{{ name }}</h1>

    <p>
    <a href="{{ link }}">lien généré ver cette route</a>
    </p>
{% endblock %}