{% extends "base.html.twig" %}

{% block stylesheet %}
    {{ helper.css("style.css") }}
    {{ helper.script("script.js") }}
{% endblock %}

{% block javascript %}
{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block body %}


    <header>{% block header %}{% endblock %}</header>

    <aside>{% block sidebar %}{% endblock %}</aside>

    <div class="content">{% block content %}{% endblock %}</div>

    <footer>{% block footer %}{% endblock %}</footer>

{% endblock %}