{% extends "base.html.twig" %}

{% block stylesheet %}
    <link href="{{ web_path }}/css/style.css" rel="stylesheet" />
{% endblock %}

{% block javascript %}
{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block body %}

    {%  if current_user == "anonymous" %}

        not logged  <b>{{ current_user }}</b>
    {% else %}
        logged as <b>{{ current_user.username }}</b>
    {% endif %}


    <header>{% block header %}{% endblock %}</header>

    <aside>{% block sidebar %}{% endblock %}</aside>

    <div class="content">{% block content %}{% endblock %}</div>

    <footer>{% block footer %}{% endblock %}</footer>

{% endblock %}